main {
  grid-area: "main";
}

main div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main div span {
  margin-top: 3vh;
}

main div button {
  margin-top: 4vh;
  max-width: 15vw;
}
